<section class="bg-violetLight flex flex-col items-center gap-4 md:flex-row md: justify-around md:p-6">
    
    <div class="flex flex-col gap-4 m-6 bg-beige shadow-2xl p-3 rounded-2xl">
        <h1 class="text-xl">Cadastre-se aqui!</h1>
        <form action="" class="flex flex-col gap-2">
            <div class="flex flex-col">
                <label class="block mb-2 text-sm font-medium text-gray dark:text-white" for="img">Imagem da tecnologia</label>
                <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="file" name="img" id="img" accept="image/*">
            </div>

            <div class="flex flex-col">
                <label class="block mb-2 text-sm font-medium text-gray dark:text-white" for="empresa">Nome</label>
                <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" name="nome" id="nome">
            </div>

            <div class="flex flex-col">
                <label class="block mb-2 text-sm font-medium text-gray dark:text-white" for="email">Experiência com a tecnologia</label>
                <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="email" name="email" id="email">
            </div>

            <a href="/minhas-tecs" class=" text-center w-64 bg-violetLight rounded-2xl text-white p-2 my-4 text-xl hover:bg-violet-600">Adicionar</a>
        </form>
    </div>
</section>