<section class="flex flex-col items-center justify-between p-6 bg-violetDark text-white md:flex-row">
    <h1 class="text-2xl"><a href="/">SUAS<strong>SKILLS</strong></a></h1>

    <ul class="flex gap-3 justify-between">
        <li class="text-2xl hover:bg-violetLight p-2">
            <a class="" href="/minhas-tecs">TECNOLOGIAS</a>
        </li>

        <li class="text-2xl hover:bg-violetLight p-2">
            <a class="" href="/sobre">SOBRE</a>
        </li>

        <li class="text-2xl hover:bg-violetLight p-2">
            <a class="" href="/login">LOGIN</a>
        </li>
    </ul>
</section>