<section class="flex flex-col justify-center items-center min-h-screen p-1 bg-violetLight min-h-screen">
    <div class="flex m-6 gap-6 justify-center items-center text-black">
        <div class="bg-beige rounded-2xl p-4 flex flex-col gap-3">
            <img class="w-64 h-40" src="/images/java.png" alt="">
            <div>
                <h1 class="text-xl">NOME DA TECNOLOGIA</h1>
                <h2>EXPERIENCIA NA TECNOLOGIA</h2>
            </div>
        </div>

        <div class="bg-beige rounded-2xl p-4 flex flex-col gap-3">
            <img class="w-64 h-40" src="/images/java.png" alt="">
            <div>
                <h1 class="text-xl">NOME DA TECNOLOGIA</h1>
                <h2>EXPERIENCIA NA TECNOLOGIA</h2>
            </div>
        </div>

        <div class="bg-beige rounded-2xl p-4 flex flex-col gap-3">
            <img class="w-64 h-40" src="/images/java.png" alt="">
            <div>
                <h1 class="text-xl">NOME DA TECNOLOGIA</h1>
                <h2>EXPERIENCIA NA TECNOLOGIA</h2>
            </div>
        </div>

        <div class="bg-beige rounded-2xl p-4 flex flex-col gap-3">
            <img class="w-64 h-40" src="/images/java.png" alt="">
            <div>
                <h1 class="text-xl">NOME DA TECNOLOGIA</h1>
                <h2>EXPERIENCIA NA TECNOLOGIA</h2>
            </div>
        </div>
    </div>

    <div class="bg-beige rounded-2xl p-4 flex flex-col gap-3 items-center cursor-pointer">
        <h1 class="text-7xl">+</h1>
        <p><a href="/adicionar-tecnologias">adicionar nova tecnologia</a></p>
    </div>
</section>