<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                    violetDark: '#352F44',
                    violetLight: '#5C5470',
                    grayLight: '#B9B4C7',
                    beige: '#FAF0E6',
                    black: '#000000',
                    }
                }
            }
        }
    </script>
</head>
<body>

    <%- include("./partials/header.ejs") %>

    <main>
        <%- include("./partials/tecs.ejs") %>
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>